body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    height: 100vh;
    color: #494949;
}

table{
    border-collapse: collapse;
}

tbody{
    -webkit-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
}
tr:nth-child(odd){
    background-color: aliceblue;
}

.table-head{
    background-image: linear-gradient(to right, #17d8c6, #00b5ca, #0090bf, #056aa5, #3e447d);
    color: #ffffff;
}
th, td{
    padding: .6em .8em;
}

td[rowspan="6"]{
    border-right: 1px solid #d4e3f0;
    border-left: 1px solid #d4e3f0;
}
td[colspan="3"], td[colspan="2"]{
    text-align: center;
}